name: Deploy via SSH

on:
  push:
    branches:
      - main   # hangi branch tetiklesin

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (opsiyonel)
        uses: actions/checkout@v4

      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ~/htdocs/zy.vrtk.me
            git pull
